@model List<Catalog>
@{
    ViewBag.Title = "Catalog";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head">
            <strong class="icon-reorder"> 分类列表</strong>
        </div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li>
                    <a class="button border-main icon-plus-square-o" href="/admin/catalog/add"> 新增栏目</a>
                </li>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th style="width:5% ;padding-left:20px;">ID</th>
                <th width="10%">分类名称</th>
                <th width="10%">更新时间</th>
                <th width="10%">操作</th>
            </tr>
            <volist name="list" id="vo">
                @for (int i = 0; i < Model.Count; i++)
                {<tr>
                        <td style="padding-left:20px;">
                            @Model[i].ID
                        </td>
                        <td>
                            @Model[i].Name
                        </td>
                        <td>
                            @Model[i].AddTime.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            <div class="button-group">
                                <a class="button border-main" href="/admin/Catalog/update/@Model[i].ID"><span class="icon-edit"></span> 修改</a>
                                <a class="button border-red" href="javascript:void(0)" onclick="return del(@Model[i].ID)">
                                    <span class="icon-trash-o"></span> 删除
                                </a>
                            </div>
                        </td>
                    </tr>
                }


        </table>
    </div>
</form>
<script type="text/javascript">

    function del(id) {
        if (confirm("您确定要删除吗?")) {
            $.post("/admin/Catalog/delete", { id: id },
                function (data) {
                    if (data == 1) {
                        window.location.href = "/admin/Catalog/index";
                    }
                    else {
                        alert("删除失败");
                    }
                });
        }
    }


   
</script>

