
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/Plugin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/Plugin/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/Plugin/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/Plugin/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <!-- jQuery 3 -->
    <script src="~/Content/Plugin/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/Plugin/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/Plugin/dist/js/adminlte.min.js"></script>
    @*当页面加载完成の时候，在执行下列JS代码*@
    <script type="text/javascript">
        $(function () {
            $(".sidebar-menu .treeview-menu a").on("click", function () { //赋予标签，样式以click事件　
                //alter(11);//执行。。。。
                $('Iframe').attr("src", $(this).attr('href'));//取当前标签的属性给iframe 
                return false; //不要再往下跳转 
            });
            $("#Iframe").height($(".content-wrapper").height())//让iframe的高度等于它父级的高度
            $("#Iframe").width($(".content-wrapper").width())//让iframe的宽度等于它父级的宽度
        });
        //通过js来控制iframe的宽度和高度 同事通过js来修改iframe的src属性 达到动态修改。
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @*顶部栏*@
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>后</b>台</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>谷羽の</b>后台 </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">T tion</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">1</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">您有一条消息</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Content/Plugin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    楚轩
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>你好Thanks♪(･ω･)ﾉ</p>
                                            </a>
                                        </li>
                                        <!-- end message -->


                                    </ul>
                                </li>
                                <li class="footer"><a href="#">查看所有信息</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">2</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/Plugin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">管理员</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/Plugin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        谷羽酱 の 管理员
                                        <small> Nov. @DateTime.Now.Year</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">详细</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">注销</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-sign-out"></i></a>@*注销*@
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        @*侧边栏*@
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Content/Plugin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>葛弋辉</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> 管理员</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">主菜单 </li>
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>网站の管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="/setting/index "><i class="fa fa-circle-o"></i> 网站配置</a></li>
                            <li><a href="index2.html"><i class="fa fa-circle-o"></i>  管理员列表</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>博客の 管理</span>
                            <span class="pull-right-container">
                                <span class="label label-primary pull-right">4</span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> 博主管理</a></li>
                            <li><a href="/blogarticle/index"><i class="fa fa-circle-o"></i> 博客管理</a></li>
                            <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> 评论管理</a></li>
                            <li><a href="pa ges/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i>  审核博文</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            @*boder来跳转html的样式*@
            <iframe src="/blogarticle/index" id="Iframe" frameborder="0" scrolling="no" style="border:1px solid red;">
        </iframe>
            @*<iframe src="https://www.baidu.com/s?ie=utf-8&wd=%E7%99%BE%E5%BA%A6%E7%9F%A5%E9%81%93" id="Iframe" frameborder="0" scrolling="no" style="border:1px solid red;"></iframe>*@
        </div>
    </div>
</body>
</html>